{% extends "base.html" %}

{% block content %}
    <h2>Leaderboard</h2>
    <table>
        <tr>
            <th>#</th>
            <th>Username</th>
            <th>Elo</th>
        </tr>
        {% for u in leaderboard %}
        <tr>
            <td>{{ loop.index }}</td>
            <td>
                <a href="https://algoleague.com/profile/{{ u.name }}">
                    {{ u.name }}
                </a>
            </td>
            <td>
                <span class="elo">
                    {{ u.elo | fmt("{:.2}") }}
                </span>
            </td>
        </tr>
        {% endfor %}
    </table>
{% endblock %}
